# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\Wiedzmin\IdeaProjects\guess-the-number-game\.idea/dataSources/
/dataSources.local.xml
.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
